{% extends "base.html" %}
{% load static %}

{% block content %}

<section class="container mt-3 pt-3">
    <h3>Profile Page for {{  user.username  }}</h3>
    <div class="row pt-3">
        <div class="col-md-2"></div>
        <div class="pt-3 col-md-2 text-md-start text-sm-center">
            <img class="rounded-circle" src="{{ user.profile.profile_image.url  }}" width="150" alt="Profile Image">
        </div>
        <div class="comments-list pt-3 col-md-6 text-md-start text-sm-center">
                <p>{{  user.email  }}</p>
        </div>
        <div class="col-md-2"></div>
    </div>
</section>

{%  endblock content  %}