main {
    padding-top: 120px;
    padding-bottom: 50px;
    padding-left: 100px;
    padding-right: 100px;
}

/* Custom styling for nav bar */
.navbar {
    padding-top: 0;
    padding-bottom: 0;
    background-color: whitesmoke;
}

.nav-link.active {
    color: #0277bd;
}

#navbarNav a:hover {
    color: #0277bd;
    letter-spacing: 1px;
    border-bottom: 1px solid;
}

/* Custom styling for footer */

#footer {
    background-color: #3f51b5;
    padding-top: 1rem;
}

#footer a {
    text-decoration: none;
}

#footer a:hover {
    letter-spacing: 1px;
}

#footer .btn-primary {
    border-radius: 50px
}

#linkedin-link {
    background-color: #0082ca;
}

#github-link {
    background-color: #333333;
}
