{% extends "base.html" %}

{% block content %}

{% load static %}

<!-- Landing Page Video & Main Title Text -->
<section id="landing-page">
    <video src="{% static 'images/media/landing-video.mp4' %}" id="background-video" muted autoplay></video>
    <div class="container d-flex justify-content-center">
        <div class="landing-text text-white text-center mt-2">
            <h1>Welcome to Code Connects</h1>
            <h2>A Peer Code Support Network</h2>
            <div class="explore-button text-center mt-3">
                <a class="btn btn-light mb4" href="#about-us" aria-label="Go to the about us section">Explore</a>
            </div>
        </div>
    </div>
</section>


<!--Main Page Slider Area -->
<div class="content-area">
    <div class="main-content-container">
        <!-- About Us -->
        <!-- Empty div to land the link from the explore button & nav to the about us section 
                so not blocked by fixed header -->
        <div id="about-us"></div>
        <section class=" about-us card ps-5 pe-5 mb-3 shadow p-3 mb-5 bg-body rounded" style="max-width: 800px;">
            <h4 class="pb-3"><i class="fa-solid fa-circle-info"></i>About Us</h4>
            <p>Code Connects is a Peer Support Network.</p>
            <p> Our aim is to allow those working alone on software projects to find a supportive network for peer code
                review.</p>
            <p>Post your project for others to use, review and offer supportive feedback on.</p>
            <p>Browse the list of projects and offer support to others. It can be as simple as testing all links work,
                and
                responsiveness on certain devices to reviewing code and offering supportive advice.</p>
            <p>A great way to reach out to others, learn and become inspired!</p>
            <p>See below for the list of projects posted</p>
        </section>

        <!-- List of Posts -->
        <!-- Empty div to land the link from the pagination page to the post list section 
                so not blocked by fixed header -->
        <div id="post-list"></div>
        <section class="posts container d-flex justify-content-center">
            <div>
                {%  for post in posts  %}
                <div class=" card mb-3 shadow p-2 mb-3 bg-body rounded" style="max-width: 700px;">
                    <div class="row g-0">
                        <div class="col-md-3">
                            {%  if post.author.profile.profile_image.url  %}
                            <img class="rounded-circle border border-3 shadow p-3 mb-3 bg-body rounded mx-auto d-block mt-3"
                                src="{{post.author.profile.profile_image.url }}" width="100" alt="Profile Image">
                            {%  else  %}
                            <img class="rounded-circle border border-3 shadow p-3 mb-3 bg-body rounded mx-auto d-block mt-3"
                                src="https://res.cloudinary.com/ciara0s1980/image/upload/v1655849315/default__image.webp"
                                width="100" alt="Default Profile Image">
                            {%  endif  %}
                        </div>
                        <div class="col-md-9 text-md-start text-center">
                            <div class="card-body">
                                <h4 class="card-title">
                                    <a class="text-decoration-none"
                                        href="{% url 'post-detail' post.slug  %}">{{  post.project_title  }}
                                    </a>
                                </h4>
                                <p class="card-text mb-1"><small class="text-muted"><strong>{{  post.author  }}</strong>
                                        <i>{{  post.date_posted  }}</i>
                                    </small></p>
                                <p class="card-text"><small class="text-muted"><strong><i
                                                class="fa-regular fa-comment"></i><i>{{  comment.date_posted  }}</i>
                                            Comment{{ post.comments.count|pluralize }}:</strong>
                                        <i>{{ post.comments.count }}</i>
                                    </small></p>
                                <p class="card-text text-start">
                                    {{  post.project_description | striptags | slice:100 | safe  }}.......
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                {%  endfor  %}
            </div>
        </section>

        <!-- Posts Pagination -->
        <div class="paginate d-flex justify-content-start mb-4">
            {%  if is_paginated  %}

            {%  if page_obj.has_previous  %}
            <a class="btn btn-outline-secondary btn-sm mb4 me-1" href="?page=1#post-list">First</a>
            <a class="btn btn-outline-secondary btn-sm mb4 me-1"
                href="?page={{  page_obj.previous_page_number  }}#post-list">Previous</a>
            {%  endif  %}

            {%  for num in page_obj.paginator.page_range  %}
            {%  if page_obj.number == num  %}
            <a class="btn btn-secondary btn-sm mb4 me-1" href="?page={{  num  }}#post-list">{{  num  }}</a>
            {%  elif num > page_obj.number|add:"-3" and num < page_obj.number|add:"3"  %}
            <a class="btn btn-outline-secondary btn-sm mb4 me-1" href="?page={{  num  }}#post-list">{{  num  }}</a>
            {%  endif  %}
            {%  endfor  %}

            {%  if page_obj.has_next  %}
            <a class="btn btn-outline-secondary btn-sm mb4 me-1"
                href="?page={{  page_obj.next_page_number  }}#post-list">Next</a>
            <a class="btn btn-outline-secondary btn-sm mb4 me-1"
                href="?page={{  page_obj.paginator.num_pages  }}#post-list">Last</a>
            {%  endif  %}

            {%  endif  %}
        </div>
    </div>
</div>

<!-- Empty Div to set relative footer at bottom of home page -->
<div id="empty-div"></div>

{%  endblock content  %}