{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A platfrom to post and review software development projects">
    <meta name="keywords" content="softeware development, peer code review">

    <!-- Favicon link -->

    <!-- Any Google Fonts links -->

    <!-- Any Fontawesome links -->

    <!-- CSS link -->

    <title> CodeSea
        {% block title %}
        {% endblock title %}
    </title>
</head>

<body>

    <!-- Navigation -->

    <main>
        {% block content %}
        <!-- Content Goes here -->
        {% endblock content %}
    </main>

    <!-- Footer -->

    <!-- JS Links -->

</body>

</html>