{% load static %}

{% load cloudinary %}

<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A platfrom to post and review software development projects">
    <meta name="keywords" content="softeware development, peer code review">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <!-- Favicon link -->

    <!-- Any Google Fonts links -->

    <!-- Any Fontawesome links -->

    <!-- My CSS link -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <title> CodeSea
        {% block title %}
        {% endblock title %}
    </title>
</head>

<body>
    <!-- Navigation -->
    <nav class="navbar fixed-top navbar-expand-md navbar-light">
        <div class="container">
            <a href="#" class="navbar-brand mb-0">
                <img src="https://res.cloudinary.com/ciara0s1980/image/upload/c_scale,w_113/v1652620673/logo_olndbb.gif" alt="Code Sea Logo">
            </a>
            <!-- Bootstrap classes to collapse nav bar on smaller screens-->
            <button type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" class="navbar-toggler"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation bar"><span
                    class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item-active">
                        <a href="#" class="nav-link active">Home</a>
                    </li>
                    <li class="nav-item-active">
                        <a href="#" class="nav-link">About</a>
                    </li>
                    <li class="nav-item-active">
                        <a href="#" class="nav-link">Sign In / Sign Up</a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>

    <main>
        {% block content %}
        <!-- Content Goes here -->
        {% endblock content %}
    </main>

    <!-- Footer -->


    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
    </script>

</body>

</html>